name: Lint Code Base

# 언제 실행할지 설정 (메인, 디벨롭 브랜치에 푸시하거나 PR할 때)
on:
  push:
    branches: [ "main", "develop", "feature/**" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  run-lint:
    runs-on: ubuntu-latest
    steps:
      # 1. 코드 받기
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # 2. linter 실행
      - name: Run Super-Linter
        uses: github/super-linter/slim@v4
        env:
          # 자바 코드만 검사할지, 모든 파일을 검사할지 설정
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: develop
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          VALIDATE_JAVA: true
          # XML, YAML 등 다른 파일도 검사하고 싶으면 true로 변경
          VALIDATE_XML: false
          VALIDATE_YAML: false